---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Projects</h1>

  <div class="card">
    <h3>IAMPact</h3>
    <p>Predicts impact using ML models.</p>
    <p><small>Python · ML · Data Analysis</small></p>
  </div>

  <div class="card">
    <h3>Network Traffic Analyzer</h3>
    <p>Packet analysis for security monitoring.</p>
    <p><small>Wireshark · Linux</small></p>
  </div>
</BaseLayout>
